.bg1 {
  background-color: hsl(64, 80%, 76%);
}

.bg2 {
  background-color: hsl(64, 67%, 70%);
}

.bg3 {
  background-color: hsl(89, 35%, 48%);
}

.bg4 {
  background-color: rgb(251, 244, 228);
}

.bg5 {
  background-color: hsl(95, 47%, 40%);
}

.bg6 {
  background-color: hsl(95, 36%, 38%);
}

.bg7 {
  background-color: hsl(95, 76%, 24%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  "굴림",
  Gulim;
}

/* title */
.k_title {
  /* font-size: 64px; font-family: 'HGGGOTHICSSI'; */
}

.big_title {
  font-size: 120px;
  font-weight: 900;
  line-height: 1.07;
}

#wrap {}

ul,
li,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

#header {
  height: 120px;
}

/* #banners { height: 500px; } 
 */

#header-top {
  height: 120px;
}

/* #banner1 { height: 500px; } */

#contents {
  height: 7168px;
}

#content1 {
  height: 960px;
}

#content2 {
  height: 1080px;
}

#content3 {
  height: 1080px;
}

#content4 {
  height: 1080px;
}

#content5 {
  height: 998px;
}

#content6 {
  height: 1218px;
}

#content7 {
  height: 752px;
}


#footer {
  height: 754px;
  background: white;
}

#footer-nav {
  height: 754px;
}

#footer-info {
  /*   height: 376px; */
}

/* 0~1100px */
.container {
  max-width: 1904px;
  height: inherit;
  margin: auto;
}

.container_hd {
  max-width: 1440px;
  height: inherit;
  margin: auto;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

p {
  border: 2px;
  padding: 0 auto;
  text-align: center;
  font-size: 1em;
  /* width: 200px; */
  height: 50px;
}

/* == header == */
#header h1 {
  padding-top: -30px;
  position: absolute;
  left: 0;
  top: 50px;
}

#header .gnb {
  position: absolute;
  left: 250px;
  top: 25px;
}

#header .gnb li {
  float: left;
}

#header #header_inner {
  width: 1440px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

h1 {
  padding: 0px 0px;
  float: left;
}

#header ul li a {
  position: relative;
  height: 120px;
  line-height: 50px;
  padding: 0 44px;
  font-weight: bold;
}




/* == nav bar == */
#nav {
  font-family: 'SpoqaHanSansNeo-Regular';
}

#nav ul {
  list-style: none;
}

#nav ul li {
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#nav ul li a {
  color: #333;
  text-decoration: none;
}

#nav ul li ul {
  display: none;
}

#nav ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}

#nav ul li:hover a {
  color: #1B4793;
}

#nav ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 250px;
  margin-top: 1rem;
}

#nav ul li:hover ul li {
  display: block;
  background: #FBF4E4;
}

#nav ul li:hover ul li a {
  color: #1B4793;
}

#nav ul li:hover ul li:hover {
  background: rgb(245, 219, 179);
  color: inherit;
}

#nav ul li span {
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#nav ul li:hover ul li:hover span {
  background: var(--primary-color);
}


/* == content1 bigtitle== */

/* == content1 == */
#contents {
  font-size: 20px;
}

/* .c_1 .max_wrap { position: relative; } */
#content1 .bigtitle_Dalkomm {
  font-family: 'Fredoka One', cursive;
  float: right;
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
}

#content1 h2 {
  padding-left: 50px;
}

.c_1 p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 230px;
  height: 122px;
}

.c_1 .c_1_text_wrap {
  /* position: absolute; */
  font-size: 20px;
}

.max_wrap {
  width: 100%;
  margin: 0 auto;
}

.section .max_wrap .bigtitle_Dalkomm {
  position: absolute;
  right: 0;
  bottom: 415px;
  z-index: 2;
}

h2 {
  display: block;
  margin-inline-start: 500px;
  margin-inline-end: 0px;
  /* margin-block-start: -4em; margin-block-end: 0.83em; */
  /* margin-inline-start: 500px; */
  /* margin-inline-end: 0px; */
}

.c_1 h2 span {
  color: #FF592E;
}

/* content2 */
.text_wrap_animate {
  height: 490px;
}

#content2 {
  position: relative;
  overflow: hidden;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#content2 .img_wrap .c_2_01 {
  top: 82px;
  right: -142px;
  width: 419px;
  height: 424px;
  background: url(../img/c_2_01.png)
}

#content2 .sub_title {
  font-size: 36px;
}

#content2 .sub_title+.big_title {
  margin-top: 32px;
}

#content2 .sub_title>strong {
  padding-top: 296px;
  padding-left: 250px;
  font-weight: 700;
  height: 40px;
  left: 752px;
  top: 1383px;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FF592E;
  font-family: 'GongGothicMedium';
}

#content2 .big_title {
  padding-left: 450px;
  margin-left: -150px;
  margin-top: 32px;
  height: 255.02px;
  left: 262px;
  top: 1463.98px;
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 117px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FF592E;
  font-family: 'Fredoka One', cursive;
}

#content2 .text {
  height: 90px;
  padding-top: 56px;
  padding-left: 520px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FF592E;
  font-family: 'SpoqaHanSansNeo-Regular';
}


/* content3 */
#content3 .sub_title {
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding-top: 138px;
  padding-left: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #1B4793;
  font-family: 'GongGothicMedium';
}

#content3 .k_title {
  padding-top: 42px;
  height: 192px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #1B4793;
  font-family: 'LeferiPoint-BlackA';
}

#content3 .section_dal {
  background:
    /* transparent url(../img/c_3_r_1.png) */
    no-repeat center bottom;
  background-size: auto 513px;
  padding-top: 70px;
}


/* content4 */
#content4 .k_title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  padding-right: 550px;
  padding-top: 146px;
  color: #FF592E;
  font-family: 'LeferiPoint-BlackA';
}

#content4 .text_wrap>p {

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  padding-top: 32px;
  color: #FF592E;
  font-family: 'SpoqaHanSansNeo-Regular';
}

#content4 .c_4_img {
  display: flex;
  justify-content: space-between
}

/* content5 */
#content5 .k_title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  padding-right: 500px;
  padding-top: 196px;
  color: #FF592E;
  font-family: 'LeferiPoint-BlackA';
}

#content5 .text_wrap>p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  line-height: 30px;
  padding-top: 32px;
  color: #FF592E;
  font-family: 'SpoqaHanSansNeo-Regular';
}

#content5 .menu {
  padding-top: 240px;
}

/* content6 */
#content6 .k_title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  padding-top: 196px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FF592E;
  font-family: 'LeferiPoint-BlackA';
}

#content6 .text_wrap>p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-size: 20px;
  padding-top: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  color: #FF592E;
  font-family: 'SpoqaHanSansNeo-Regular';
}

#content6 {
  background: white;
  /* padding: 250px 0 20px; */
}

.container_6 {
  max-width: 1904px;
  height: inherit;
  margin: auto;
}

#content6 .c_6_animation {
  overflow: hidden;
  position: relative;
  margin-top: 61px;
  width: 100%;
}

#content6 .c_6_animation ul {
  display: flex;
  justify-content: space-between
}

#content6 .c6_app {
  padding-top: 60px;
  padding-left: 800px;
}


#content6 .c6_app .c_6_img_app:after {
  /* content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: transparent url(../img/c_6_01_phone.png )no-repeat center top; background-size: 100% auto; */
}


/* content7 */
#content7 {
  background: #1B4793 url(../img/c_7_01.png);
  background-size: cover;
}

#content7 .k_title {
  left: 0px;
  top: 6704px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100px;
  padding-top: 170px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  font-family: 'LeferiPoint-BlackA';
}

#content7 .text_wrap>p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  color: #FFFFFF;
  font-family: 'SpoqaHanSansNeo-Regular';
}

#content7 .text_wrap a {
  margin: 50px auto;
  margin-left: 780px;
  display: block;
}

#content7 .c_7_wrap .c_7_btn {
  /*  display: block; */
  width: 280px;
  height: 72px;
  line-height: 71px;
  background-color: rgb(238, 171, 45);
  color: white;
  text-align: center;
  border-radius: 8px;
}

.c_7_btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 0 none;
  outline: none;
  cursor: pointer;
  background: transparent;
  background-color: transparent;
  box-sizing: border-box;
}

/* footer nav */
#footer_wrap {
  width: 1288px;
}

#footer .logo_f {
  width: 192px;
}

footer>.footer_wrap:first-child>ul {
  width: 73.6%;
}

#footer {
  display: block;
  padding: 120px 0;
  width: 100%;
  overflow-x: hidden;
  font: inherit;
  vertical-align: baseline;
}

#footer>.footer_wrap>ul strong {
  font-size: 18px;
}

#footer #footer_wrap,
#footer_wrap ul {
  display: flex;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  flex-direction: column;
}

#footer #footer_wrap,
#footer_wrap ul {
  justify-content: space-between;
}

#footer_wrap ul>li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#footer #footer_wrap>ul a.em {
  color: #EB5C2A;
}

#footer>.footer_wrap>ul strong+ul li a {
  position: relative;
}

#footer>.footer_wrap>ul strong+ul {
  margin-top: 32px;
}

/* top button */
#back-to-top {
  position: fixed;
  bottom: 3em;
  right: 3em;
  background: rgb(238, 171, 45);
  color: #dfe3e9;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #1B4793;
  padding: 1em 3em;
}

#back-to-top.visible {
  opacity: 1;
}

/* swiper */
.swiper {
  width: 1040px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 1040px;
  height: 612px;

}

.swiper-slide img {
  display: block;
  width: 1040px;
}

/* .swiper-slide-active { transform: scale(1)!important; } */

/* media */
/* footer */